body {
    width: auto;
    height: auto;
    background-color: blue;
    overflow: auto;
}

nav {
    background-color: rgb(88, 86, 86);
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-toggler {
    color: rgb(12, 12, 12);
    border: 2px solid rgb(12, 12, 12);
}

ul li {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(108, 117, 125);
    margin: 5px;
}

ul li a {
    color: rgb(226, 169, 12) !important;
}

ul li:hover {
    background-color: rgb(108, 117, 125);
}

.nav-item:hover .nav-link {
    color: rgb(255, 255, 255) !important;
}

.list {
    text-decoration: none;
    margin: 5px;
    color: rgb(108, 117, 125);
    margin-left: 34px;
}

.parallax {
    /* The image used */
    background-image: url("../img/Stonehenge.webp");

    /* Set a specific height */
    min-height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* justify-content: space-evenly */
    justify-content: space-evenly;
    /* align-items: space-evenly */
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.text-back {
    border: 5px solid rgb(226, 169, 12, 0.5);
    padding: 15px;
}

/* add sub-sections for each section for each of the 10 beaches  */
.content {
    background-color:transparent;
    text-align: center;
    width: 1500px;
    padding: 50px;
    height: 1500px;

}

.wonders {
    border: 5px solid rgb(226, 169, 12, 0.5);
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(12, 12, 12);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(12, 12, 12);
    font-weight: bolder;
}

footer {
    text-align: center;
}

i {
    margin-left: 18px;
}

.fa-facebook-f {
    color: rgb(108, 117, 125);
}

.fa-youtube {
    color: rgb(108, 117, 125)
}

.fa-twitter {
    color: rgb(108, 117, 125);
}

.fa-linkedin {
    color: rgb(108, 117, 125);
}

.fa-person-walking-luggage {
    color: rgb(108, 117, 125);
}